version: "3.7"
services:
  sv:
    image: grafana/grafana
    container_name: grafana
    environment:
      - GF_SERVER_ROOT_URL=https://{{ grafana_host }}/
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
      - GF_AUTH_GENERIC_OAUTH_ENABLED=true
      - GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
      - GF_AUTH_GENERIC_OAUTH_TEAM_IDS=''
      - GF_AUTH_GENERIC_OAUTH_ALLOWED_ORGANIZATIONS=''
      - GF_AUTH_GENERIC_OAUTH_ALLOWED_DOMAINS=''
{% if grafana_auth0_enable %}}
    - GF_AUTH_GENERIC_OAUTH_NAME=Auth0
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ grafana_auth0_client_id }}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ grafana_auth0_secret }}
      - GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL={{ grafana_auth0_domain }}/authorize
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL={{ grafana_auth0_domain }}/oauth/token
      - GF_AUTH_GENERIC_OAUTH_API_URL={{ grafana_auth0_domain }}/userinfo
{% endif %}
    volumes:
      - grafana:/var/lib/grafana
    networks:
      - prometheus-network
      - proxy

volumes:
  grafana:

networks:
  prometheus-network:
    external: true
  proxy:
    external: true
