version: "3.7"
services:
  sv:
    image: grafana/grafana:{{ grafana_version }}
    container_name: grafana
    environment:
      - GF_SERVER_ROOT_URL=https://{{ grafana_host }}/
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
{% if grafana_auth0_enable %}
      - GF_AUTH_GENERIC_OAUTH_ENABLED=true
      - GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=false
      - GF_AUTH_GENERIC_OAUTH_NAME=Auth0
      - GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ lookup('env', 'GRAFANA_AUTH0_CLIENT_ID') }}
      - GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ lookup('env', 'GRAFANA_AUTH0_CLIENT_SECRET') }}
      - GF_AUTH_GENERIC_OAUTH_SCOPES=openid profile email
      - GF_AUTH_GENERIC_OAUTH_AUTH_URL=https://{{ grafana_auth0_domain }}/authorize
      - GF_AUTH_GENERIC_OAUTH_TOKEN_URL=https://{{ grafana_auth0_domain }}/oauth/token
      - GF_AUTH_GENERIC_OAUTH_API_URL=https://{{ grafana_auth0_domain }}/userinfo
      - GF_AUTH_OAUTH_AUTO_LOGIN=true
      - GF_SECURITY_COOKIE_SECURE=true
{% endif %}
    volumes:
      - grafana:/var/lib/grafana
    networks:
      - prometheus-network
      - proxy
{% if loki_host == "" %}
    logging:
      options:
        max-size: "10k"
        max-file: "5"
{% else %}
    logging:
      driver: loki
      options:
        loki-url: https://{{ loki_host }}/loki/api/v1/push
        loki-tenant-id: {{ loki_tenant_id }}
        max-size: "10k"
        max-file: "5"
{% endif %}

volumes:
  grafana:

networks:
  prometheus-network:
    external: true
  proxy:
    external: true
